__pycache__/
raw/
data/
augmented/
preprocessed/
logs/
build/documentation.aux
build/documentation.bbl
build/documentation.bcf
build/documentation.blg
build/documentation.fdb_latexmk
build/documentation.fls
build/documentation.lof
build/documentation.log
build/documentation.lot
build/documentation.out
build/documentation.run.xml
build/documentation.synctex.gz
build/documentation.toc
documentation.bib.sav
tex_refs/bibliography.bib.sav
models/
