__pycache__/
raw/
data/
augmented/
preprocessed/
logs/
build/documentation.aux
build/documentation.bbl
build/documentation.bcf
build/documentation.blg
build/documentation.fdb_latexmk
build/documentation.fls
build/documentation.lof
build/documentation.log
build/documentation.lot
build/documentation.out
build/documentation.run.xml
build/documentation.synctex.gz
build/documentation.toc
documentation.bib.sav
tex_refs/bibliography.bib.sav
models/
tuner/
build/presentation.aux
build/presentation.bbl
build/presentation.bcf
build/presentation.blg
build/presentation.fdb_latexmk
build/presentation.fls
build/presentation.log
build/presentation.nav
build/presentation.out
build/presentation.run.xml
build/presentation.snm
build/presentation.synctex.gz
build/presentation.toc
